<div style="margin-top: 5px;"></div>
<% @hot_posts.each do |post| %>
    <% if not (post.bulletin.title == "사장님 공지사항") || (post.bulletin.title == "학교 관계자 공지사항") || (post.bulletin.title == "우리가게 홍보") %>
        <%# 현재시간에서 1주일 이전 게시글 %>
        <% if Time.now - post.created_at <= 7.days %>
            <div class="row">
                <%# 제목 %>
                <div class="offset-1 offset-sm-1 offset-md-0"></div>
                <div align="left" style="padding: 10px 10px 10px 10px; border-bottom: 1px solid white;" class="col-8 col-sm-8 col-md-6 etc">
                    <% if post.reports.size >= post.num %>
                        <% if can? :for_admin, @posts %>
                            <%= link_to bulletin_post_path(post.bulletin, post) do %>
                                <%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "color: red; font-weight: normal !important; margin-left: 10px;") %>
                                <%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 25, :omission => "..."), class: "hidden-sm-down etc", style: "color: red; font-weight: normal !important;") %>
                                <%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 15, :omission => "..."), class: "hidden-md-up etc", style: "color: red; font-weight: normal !important;") %>
                                <%= content_tag(:span, "<b>#{post.comment_threads.count}</b>".html_safe, class: "etc", style: "color: red; font-weight: normal !important; font-size: 12px;") %><br/>
                            <% end %>
                        <% else %>
                            <font color="#6E6E6E" style="margin-left: 10px;"><i class="fas fa-caret-right"></i> <i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font>
                        <% end %>
                    <% else %>
                        <%= link_to bulletin_post_path(post.bulletin, post) do %>
                            <%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "font-weight: normal !important; margin-left: 10px; font-size: 15px;") %>
                            <%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 25, :omission => "..."), class: "hidden-sm-down etc", style: "font-weight: normal !important;") %>
                            <%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 15, :omission => "..."), class: "hidden-md-up etc", style: "font-weight: normal !important;") %>
                            <%= content_tag(:span, "<b>#{post.comment_threads.count}</b>".html_safe, class: "etc", style: "font-weight: normal !important; font-size: 12px;") %><br/>
                        <% end %>
                    <% end %>
                </div>
                
                <%# 조회수 %>
                <div align="left" style="padding: 10px 10px 10px 10px; border-bottom: 1px solid white;" class="col-2 col-sm-1 col-md-1 etc">
                    <i style: "font-weight: normal !important; margin-left: 10px;" class="fas fa-eye" aria-hidden="true"></i>
                    <% if post.comment_threads.count < 1000 %>
                        <%= post.comment_threads.count %>
                    <% else %>
                        <small><b><%= post.comment_threads.count/1000 %> K</b></small>
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>