<div style="margin-top: 5px;"></div>
<% @hot_qnas.each do |qna| %>
    <%# 현재시간에서 1주일 이전 게시글 %>
    <% if Time.now - qna.created_at <= 7.days %>
        <div class="row">
            <%# 제목 %>
            <div class="offset-1 offset-sm-1 offset-md-0"></div>
            <div align="left" class="col-6 col-sm-7 col-md-7 etc" style="padding: 2px 2px 2px 2px; border-bottom: 1px solid white; margin-left: 40px;">
                <% if qna.report_qnas.size >= qna.num %>
                    <% if can? :for_admin, @qna %>
                        <%= link_to qna do %>
                            <% if qna.comment_qnas.count == 0 %>
                                <span class="badge badge-default" style="padding-top: 5px;">답변 대기</span>
                            <% else %>
                                <span class="badge badge-info" style="padding-top: 5px;"><%= qna.comment_qnas.count %> 개의 답변</span>
                            <% end %>
                            <%= content_tag(:span, truncate( raw( sanitize(qna.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 20, :omission => "..."), class: "etc", style: "color: red; font-size: 15px;") %>
                        <% end %>
                    <% else %>
                        <font color="#6E6E6E" style="font-size: 15px; margin-left: 5px;"><i class="fas fa-caret-right"></i> <i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font>
                    <% end %>
                <% else %>
                    <%= link_to qna do %>
                        <% if qna.comment_qnas.count == 0 %>
                            <span class="badge badge-default" style="padding-top: 5px;">답변 대기</span>
                        <% else %>
                            <span class="badge badge-info" style="padding-top: 5px;"><%= qna.comment_qnas.count %> 개의 답변</span>
                        <% end %>
                        <%= content_tag(:span, truncate( raw( sanitize(qna.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 20, :omission => "..."), class: "etc", style: "font-size: 15px;") %>
                    <% end %>
                <% end %>
            </div>
             
            <%# 발도장 (저도 궁금해요) %>
            <div align="left"  class="col-2 col-sm-1 col-md-2 etc" style="padding: 2px 2px 2px 2px; border-bottom: 1px solid white;">
                <i class="fa fa-paw" aria-hidden="true" title="저도 궁금해요! (발도장 꾹)"></i> <%= qna.get_upvotes.size %>
            </div>
            
            <%# 조회수 %>
            <div align="left"  class="col-2 col-sm-1 col-md-2 etc" style="padding: 2px 2px 2px 2px; border-bottom: 1px solid white;">
                <i style: "font-weight: normal !important; margin-left: 10px;" class="fas fa-eye" aria-hidden="true"></i>
                <% if qna.unique_impression_count < 1000 %>
                    <%= "#{qna.unique_impression_count}" %>
                <% else %>
                    <small><b><%= "#{qna.unique_impression_count/1000} K" %></b></small>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>