<% @posts.each do |post| %>
    <% if post.notice == true %>
    <div class="row table_sub_notice" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
        <% # 글 번호 %>
        <div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down"><%= content_tag(:span, "공지", class: "badge badge-primary etc", align: "center", style: "margin-top: 5px;") %></div>
                    
        <%# 닉네임 %>
        <div align="center" class="col-0 col-sm-0 col-md-2 etc table_separate hidden-sm-down">
            <%= post.user != nil ? post.user.nickname : post.user_name %>
        </div>
            
        <% # 게시글 제목 %>
        <div align="left" class="col-6 col-sm-5 col-md-3 etc table_separate">
        <% if post.reports.size >= post.num %>
          <% if can? :for_admin, @post %>
            <%= link_to bulletin_post_path(post.bulletin, post) do %>
                <%= content_tag(:div, post.title, class: "etc", style: "color: red") %>
            <% end %>
        <% else %>
            <font color="#6E6E6E"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font>
          <% end %>
        <% else %>
            <%= link_to bulletin_post_path(post.bulletin, post) do %>
                <%= content_tag(:div, post.title, class: "etc") %>
            <% end %>
        <% end %>
        </div>
                
        <% # 댓글 %>
        <div align="center" class="col-2 col-sm-2 col-md-1 table_separate">
            <div class="hidden-sm-down"><i class="far fa-comments"></i><b style="margin-left: 10px;"><%= post.comment_threads.count %></b></div>
            <div class="hidden-md-up"><b><%= post.comment_threads.count %></b></div>
        </div>
        
        <%# 조회수 %>
        <div align="center" class="col-3 col-sm-2 col-md-1 table_separate hidden-xs-down">
        <% if post.unique_impression_count >= 10000 %>
            <%= "#{post.unique_impression_count/10000}만#{post.unique_impression_count%10000}" %>
        <% else %>
            <%= "#{post.unique_impression_count}" %>
        <% end %>
        </div>
            
        <%# 투표 %>
        <div align="center" class="col-4 col-sm-3 col-md-4 table_separate">
        <% if post.reports.size >= post.num %>
            <% if current_user.has_role? :admin %>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: <%= post.get_upvotes.size.to_f / post.votes_for.size * 100 %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= post.get_downvotes.size.to_f / post.votes_for.size * 100 %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            <% else %>
                <small><font color="#6E6E6E"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 게시글</font></small>
            <% end %>
        <% else %>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: <%= post.get_upvotes.size.to_f / post.votes_for.size * 100 %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width: <%= post.get_downvotes.size.to_f / post.votes_for.size * 100 %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
        <% end %>
        </div>
    </div>
    <% end %>
<% end %>