<% # 닉네임 %>
<div align="center" class="col-0 col-sm-0 col-md-2 etc table_separate hidden-sm-down">
    <%= render 'posts/special/nickname_post_index', post: post %>
</div>

<% # 게시글 제목 %>
<div align="left" class="col-7 col-sm-4 col-md-3 etc table_separate">
<%= link_to post do %>
    <% if post.title_tag_permission == true %>
        <%= content_tag(:div, post.title.html_safe, class: "etc") %>
    <% else %>
        <%= content_tag(:div, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 30, :omission => "...")) %>
    <% end %>
<% end %>
</div>

<% # 댓글 %>
<% if post.comment_permission == true %>
    <div align="center" class="col-0 col-sm-2 col-md-1 table_separate hidden-xs-down">
        <b><%= post.comment_threads.count %></b>
    </div>
<% else %>
    <div align="center" class="col-0 col-sm-2 col-md-1 table_separate hidden-xs-down">
        <b>×</b>
    </div>
<% end %>
                    
<% # 시간 %>
<div align="center" class="col-0 col-sm-3 col-md-2 table_separate hidden-xs-down">
    <%= "#{time_ago_in_words(post.created_at)} 전" %>
</div>
                        
<% # 조회수 %>
<div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down">
    <% if post.impressionist_count >= 10000 %>
        <%= "#{post.impressionist_count/10000}만#{post.impressionist_count%10000}" %>
    <% else %>
        <%= "#{post.impressionist_count}" %>
    <% end %>
</div>

<% # 비워두는 공간입니다. %>
<div align="center" class="col-0 col-sm-3 col-md-2 table_separate hidden-xs-down">
    <small>-</small>
</div>

<% # 비워두는 공간입니다. %>
<div align="center" class="col-5 col-sm-3 col-md-2 table_separate hidden-sm-up">
    <small><i class="far fa-clock"></i> <%= "#{time_ago_in_words(post.created_at)} 전" %></small>
</div>