<li>
    <div class="panel-default" data-conversation-id="<%= conversation.id %>">
        <div class="panel-heading">
            <div class="row">
                <div class="col-10 col-md-11 col-md-11">
                    <%= link_to "javascript:function()", :onclick => "showHide('conversation_#{ conversation.id }')", :onfocus => "this.blur()" do %>
                        <div class="col-md-12"><b><%= conversation.opposed_user(user).nickname.truncate(20, omission: '...') %></b></div>
                    <% end %>
                </div>
                
                <div class="col-2 col-sm-1 col-md-1">
                    <%= link_to '<i class="fas fa-times"></i>'.html_safe, close_conversation_path(conversation), class: "btn btn-default btn-xs pull-right", remote: true, method: :post %>
                </div>
            </div>
            <hr style="margin-top: -5px;"/>
        </div>
        
        <div class="panel-body" id="conversation_<%= conversation.id %>" style="display: visual;">
            <div class="messages-list" style="display:visual;">
                <ul>
                    <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
                </ul>
            </div>
            <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
                <%= f.hidden_field :conversation_id, value: conversation.id %>
                <%= f.hidden_field :user_id, value: user.id %>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-9 col-sm-9 col-md-10"><%= f.text_area :body, class: "form-control" %></div>
                    <div class="col-3 col-sm-2 col-md-1"><%= f.submit "전송", class: "btn btn-success" %></div>
                </div>
            <% end %> 
            <div style="margin-bottom: 30px;"></div>
            <hr/>
        </div>
    </div>
</li>