<%= form_with(model: qna, local: true) do |form| %>
  <div class="field">
    <%= form.label :제목 %>
    <%= form.text_field :title, id: :qna_title, class: "form-control no-border" %><br/>
  </div>

  <div class="field">
    <%= form.label :내용 %>
    <%= tinymce :language => "en" %>
    <%= form.text_area :content, id: :qna_content, class: "form-control tinymce", rows: "10" %>
  </div>
  
  <% if can? :for_admin, @qna %>
    <div class="col-12 col-sm-8 col-md-5" style="background-color: #ffd4d4; margin-top: 30px; padding: 10px;"><font color="red"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 어드민 전용 : 해당 게시글 설정</font></div>
    <div align="left" style="margin-top: 10px;">
    <%= form.label :notice, "1) 공지사항 설정" %> <%= form.check_box :notice, id: :qna_notice %><br/>
    <%= form.label :blind_limit, "2) 해당 게시글 블라인드 Limit" %>
    <%= form.text_field :num, id: :qna_num, value: "#{qna.num != nil ? qna.num : 10}", class: "form-control no-border col-3 col-sm-3 col-md-2" %>
    </div>
  <% else %>
    <%= form.hidden_field :num, id: :qna_num, value: "#{qna.num != nil ? qna.num : 10}", class: "form-control no-border col-3 col-sm-3 col-md-2" %>
  <% end %>
  
  <center>
  <div class="form-actions" style="margin-top: 20px;">
    <%= form.button :글쓰기, class: "btn btn-primary" %>
  <% end %>
    <%= link_to '목록', @qna, class: "btn btn-secondary" %>
  </div>
</center>