<div class="board hidden-sm-down" style="background: url('/img/title_img2.jpg') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <div class="container" align="left">
    <span class="post_title"><%= link_to "질문답변 게시판", qnas_path, class: "board_title" %></span>
  </div>
</div>
<div class="board_mobile hidden-md-up" style="background: url('/img/title_img2.jpg') no-repeat center center/cover scroll;">
    <span class="post_title"><%= link_to "질문답변 게시판", qnas_path, class: "board_title" %></span>
</div>

<%# 경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<div class="container" style="margin-bottom: 100px;">
  <div align="right">
    <p class="badge badge-pill badge-success hidden-xs-down" style="margin-top:20px; margin-bottom: 20px;"><i class="fa fa-clock-o" aria-hidden="true"></i> 현재 시간 </span> <span><%= Time.zone.now.strftime('%Y-%m-%d %H:%M:%S') %></p>
  </div>
  <center>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 table_title" align="center">질문 리스트</div>
    <div class="col-md-1 hidden-sm-down"></div>
  </div>
  
  <%# 전체 공지사항 %>
  <% @all_notices.each do |post| %>
    <% if post.all_notice == true %>
      <div class="row table_notice">
        <% # 공지 Badge %>
        <div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down">
          <%= content_tag(:span, '<span class="badge badge-warning">전체공지</span>'.html_safe, class: "etc", align: "center", style: "margin-top: 5px;") %>
        </div>
        <%= render "all_notices/list/board_all_notice_qna_index", post: post %>
      </div>
    <% end %>
  <% end %>
  <% if @qnas.empty? %>
    <h2 class="text-center" style="margin-top: 30px;">게시글이 없습니다.</h2>
  <% else %>
    <%# 공지 게시글 %>
    <% @qnas.each do |post| %>
      <% if post.notice == true %>
        <div class="row table_sub_notice" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <% # 공지 Badge %>
          <div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down">
            <%= content_tag(:span, "공지", class: "badge badge-primary etc", align: "center", style: "margin-top: 5px;") %>
          </div>
        
          <% # 닉네임 %>
          <div align="center" class="col-3 col-sm-2 col-md-2 etc table_separate hidden-sm-down">
            <%= render 'posts/special/nickname_post_index', post: post %>
          </div>
              
          <% # 게시글 제목 %>
          <div align="left" class="col-7 col-sm-5 col-md-5 etc table_separate">
            <% if post.report_qnas.size >= post.num %>
              <% if can? :for_admin, @qnas %>
                <%= link_to post do %>
                  <%= content_tag(:div, post.title, class: "etc", style: "color: red;") %>
                <% end %>
              <% else %>
                <font color="#6E6E6E"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font>
              <% end %>
            <% else %>
              <%= link_to post do %>
                <%= content_tag(:div, post.title, class: "etc") %>
              <% end %>
            <% end %>
          </div>
                  
          <% # 댓글 %>
          <div align="center" class="col-2 col-sm-2 col-md-1 table_separate">
            <b><%= post.comment_qnas.count %></b>
          </div>
        
          <% # 시간 %>
          <div align="center" class="col-0 col-sm-3 col-md-2 table_separate hidden-xs-down"><%= "#{time_ago_in_words(post.created_at)} 전" %></div>
                      
          <% # 조회수 %>
          <div align="center" class="col-3 col-sm-2 col-md-1 table_separate"><i class="fas fa-eye" aria-hidden="true"></i>
            <% if post.unique_impression_count >= 10000 %>
              <%= "#{post.unique_impression_count/10000}만#{post.unique_impression_count%10000}" %>
            <% else %>
              <%= "#{post.unique_impression_count}" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    
    <%# 공지 + 일반 게시글 %>
    <% if current_user.has_role? :admin %>
      <% @qnas.with_deleted.each do |qna| %>
        <%= render 'qnas/board/qna_index', qna: qna %>
      <% end %>
    <% else %>
      <% @qnas.each do |qna| %>
        <%= render 'qnas/board/qna_index', qna: qna %>
      <% end %>
    <% end %>
  <% end %>
  <br/>
  
  <div align="right">
    <% if (not current_user.has_any_role? :block_yellow, :block_red) || (current_user.has_role? :admin) %>
      <%= link_to "글 쓰기", new_qna_path, class: "btn btn-primary", style: "margin-top: 10px;" %>
    <% end %>
  </div>
  
  <div class="d-flex flex-column", style="margin-bottom: 10px;margin-top: 30px;">
    <%= paginate @qnas %>
  </div>
  
  <%= render 'search-form/google_search' %>
</div>