<div class="board hidden-sm-down" style="background: url('/img/title_img2.jpg') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <div class="container" align="left">
    <span class="post_title"><%= link_to "질문답변 게시판", qnas_path, class: "board_title" %></span>
  </div>
</div>
<div class="board_mobile hidden-md-up" style="background: url('/img/title_img2.jpg') no-repeat center center/cover scroll;">
    <span class="post_title"><%= link_to "질문답변 게시판", qnas_path, class: "board_title" %></span>
</div>

<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<%# 메타태그 속성(검색엔진 반영 전용) %>
<%= render 'meta/meta_qna_show', post: @qna %>

<div class="container" style="margin-top:30px; margin-bottom: 100px;">
  <% if can? :for_admin, @qna %>
    <h4 class="col-12" style="padding: 0px"><%= @qna.title %></h4>
  <% elsif @qna.report_qnas.size >= @qna.num %>
    <font color="red"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리된 게시글입니다.</font>
  <% else %>
    <h4 class="col-12" style="padding: 0px;"><%= @qna.title %></h4>
  <% end %>
  <div class="row">
    <% # [그리드] PC, 모바일 공통에서 볼 경우 : 닉네임 %>
    <div class="col-4 etc">
      <%= render 'posts/special/nickname_qna_show' %>
    </div>
    <% # [그리드] Only 모바일 에서 볼 경우 : 글 작성시간 %>
    <div class="col-8" align="right"><span style="margin-right: 10px;"><%= @qna.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %></span>
    |<i class="fas fa-eye" aria-hidden="true" style="margin-left: 15px;"></i> <%= "#{@qna.unique_impression_count}" %></div>
  </div>
  <% if can? :for_admin, @qna %>
    <% if @qna.report_qnas.size >= @qna.num %>
      <font color="red"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리된 게시글, 관리자 권한을 통해 열람중.</font>
    <% end %>
  <% end %>
  <hr/>
    
  <%# 좋아요 기능 %>
  <div style="float: right; font-size: 15px">
    <% if @qna.user == current_user %>
      <div align="right"><i class="fa fa-paw" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="저도 궁금해요! (발도장 꾹)"></i> <%= @qna.get_upvotes.size %> 명이 궁금해 해요!</div>
    <% else %>
      <% if (current_user.voted_up_on? @qna) == true %>
        <div align="right"><%= link_to '<span class="badge badge-pill badge-primary"><i class="fa fa-paw" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="저도 궁금해요! (발도장 꾹)"></i></span>'.html_safe, qna_like_path(@qna), method: :put %> <%= @qna.get_upvotes.size %> 명이 궁금해 해요!</div>
      <% else %>
        <div align="right"><%= link_to '<span class="badge badge-pill badge-default"><i class="fa fa-paw" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="저도 궁금해요! (발도장 꾹)"></i></span>'.html_safe, qna_like_path(@qna), method: :put %> <%= @qna.get_upvotes.size %> 명이 궁금해 해요!</div>
      <% end %>
    <% end %>
  </div>
      
  <div style="float: left">
  <% if current_user.is_report_qna?(@qna) %>
    <i class="fas fa-exclamation" aria-hidden="true"></i> 신고 요청 완료
  <% elsif @qna.report_qnas.size >= @qna.num %>
    <i class="fas fa-exclamation" aria-hidden="true"></i> 블라인드 처리된 글임.
  <% else %>
    <%= link_to " 신고 요청", "/qnas/#{@qna.id}/report_qna", class: "badge badge-pill badge-danger fas fa-cut", :method => :qna, data: { confirm: '한번 신고 요청 하시면 취소가 안됩니다. 정말 하시겠습니까??' } %></span>
  <% end %>
  </div>
  
  <br/><br/><br/>
  <% if can? :title, @qna %>
    <%= content_tag(:div, @qna.content.html_safe, :class => "panel-body", style: "margin-bottom: 70px;") %>
  <% elsif @qna.report_qnas.size >= @qna.num %>
    <font color="red"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리된 게시글입니다.</font><br/>
  <% else %>
    <%= content_tag(:div, @qna.content.html_safe, :class => "panel-body", style: "margin-bottom: 70px;") %>
  <% end %>
  
  <%# 광고 %>
  <%#= render 'posts/special/ad_show' %>
  
  <div class= "row">
    <div class="col-7 col-md-6" align="left">
      <%= link_to '목록', qnas_path, class: "btn btn-secondary btn-sm" %>
      <% if can? :update, @qna %>
        <%= link_to '수정', edit_qna_path(@qna), class: "btn btn-secondary btn-sm" %>
      <% end %>
      <% if (can? :destroy, @qna) && (@qna.deleted? == false) %>
        <%= link_to "삭제", @qna, method: :delete, data: { confirm: '진짜로 지울건가요???' }, class: "btn btn-secondary btn-sm" %>
      <% end %>
      <% if (current_user.has_role? :admin) && (@qna.deleted? == true)%>
        <%= link_to "영구삭제", @qna, method: :delete, data: { confirm: '삭제 시 로그에 안남는 채로 삭제됩니다. 정말로 영원히 삭제하시겠습니까?' }, class: "btn btn-danger btn-sm" %>
      <% end %>
    </div>
    <div class="col-5 col-md-6" align="right">
      <% if (not current_user.has_any_role? :block_yellow, :block_red) || (current_user.has_role? :admin) %>
        <%= link_to '글 쓰기', new_qna_path, class: "btn btn-primary btn-sm", align: "right" %>
      <% end %>
    </div>
  </div>
  <hr/>
  
  <% if can? :for_admin, @qna %>
    <%#= render partial: "comments/template", locals: {commentable: @qna, new_comment: @comment} %>  
    <%= render "comment_qnas/comment_qnas" %>
  <% elsif @qna.report_qnas.size >= @qna.num %>
    <center><font color="red"><i class="fas fa-exclamation-triangle" aria-hidden="true" style="margin-top: 20px;"></i> 블라인드 처리된 게시글에서는 댓글 확인이 불가합니다.</font></center>
  <% else %>
    <%#= render partial: "comments/template", locals: {commentable: @qna, new_comment: @comment} %>
    <%= render "comment_qnas/comment_qnas" %>
  <% end %>

  <%# 다른 게시물들 %>
  <div class="row" style="margin-top: 60px;">
    <div class="col-7 col-sm-10 col-md-12 table_title" align="center">
      <%= link_to "질문답변 게시판", qnas_path, style: "font-weight: bold" %>
    </div>
    <div align="center" class="col-2 col-sm-0 table_title hidden-sm-up"><i class="far fa-comments"></i></div>
    <div align="center" class="col-3 col-sm-2 table_title hidden-md-up"></div>
  </div>
  <% if @qnas.empty? %>
    <h2 class="text-center" style="margin-top: 30px;">게시글이 없습니다.</h2>
  <% else %>
    <div style="margin-top: 5px;"></div>
    <%# 전체 공지사항 %>
    <% @all_notices.each do |post| %>
      <% if post.all_notice == true %>
        <div class="row table_notice">
          <% # 공지 Badge %>
          <div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down">
            <%= content_tag(:span, '<span class="badge badge-warning">전체공지</span>'.html_safe, class: "etc", align: "center", style: "margin-top: 5px;") %>
          </div>
          <%= render "all_notices/list/board_all_notice_qna_show", post: post %>
        </div>
      <% end %>
    <% end %>
  
  <%# 일반 게시물 %>  
  <% @qnas.each do |qna| %>
    <% if qna.comment_qnas.count == 0 %>
      <div class="row" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
    <% else %>
      <div class="row" style="background-color: #C8EFFF" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#C8EFFF'">
    <% end %>
          
    <div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down">
      <%= qna.id %>
    </div>
          
    <% # 게시글 제목 %>
    <div align="left" class="col-6 col-sm-4 col-md-5 etc table_separate">
    <% if qna.report_qnas.size >= qna.num %>
      <% if can? :for_admin, @qnas %>
        <%= link_to qna do %>
          <%= content_tag(:div, qna.title, class: "etc", style: "color: red") %>
        <% end %>
      <% else %>
        <font color="#6E6E6E"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font>
      <% end %>
    <% else %>
      <%= link_to qna do %>
        <%= content_tag(:div, qna.title, class: "etc") %>
      <% end %>
    <% end %>
    </div>
    
    <%# 닉네임 %>
    <div align="center" class="col-0 col-sm-0 col-md-2 hidden-sm-down etc table_separate">
      <%= render 'posts/special/nickname_qna_index', qna: qna %>
    </div>
          
    <%# 댓글 %>
    <div align="right" class="col-3 col-sm-3 col-md-1 table_separate">
    <% if qna.notice == true %>
      <span class="badge badge-primary">공지사항</span>
    <% else %>
      <% if qna.comment_qnas.count == 0 %>
        <span class="badge badge-default">답변 대기</span>
      <% else %>
        <span class="badge badge-success"><%= qna.comment_qnas.count %> 개의 답변</span>
      <% end %>
    <% end %>
    </div>
          
    <% # 시간 %>
    <div align="center" class="col-0 col-sm-3 col-md-2 table_separate hidden-xs-down"><%= "#{time_ago_in_words(qna.created_at)} 전" %></div>
                  
    <%# 궁금해요 %>
    <div align="center" class="col-3 col-sm-2 col-md-1 table_separate">
      <i class="fa fa-paw" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="저도 궁금해요! (발도장 꾹)"></i> <%= qna.get_upvotes.size %></div>
    </div>
    <% end %>
  <% end %>

  <div align="right">
    <% if (not current_user.has_any_role? :block_yellow, :block_red) || (current_user.has_role? :admin) %>
      <%= link_to "글 쓰기", new_qna_path, class: "btn btn-primary", style: "margin-top: 10px;" %>
    <% end %>
  </div>
</div>

<div class="d-flex flex-column", style="margin-bottom: 10px; margin-top: -50px;">
    <%= paginate @qnas %>
</div>

<%= render 'search-form/google_search' %>
</div>