<div style="margin-top: 100px;"></div>
<div class="container">
    <div class="row">
        <div class="hidden-sm-up col-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">유저 목록</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <% @users.each do |user| %>
                            <li><%= link_to user.nickname.truncate(15, omission: '...'), conversations_path(user_id: user), remote: true, method: :post %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-sm-7 col-md-9">
            <ul id="conversations-list">
                <% @conversations.each do |conversation| %>
                    <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
                    <div style="margin-top: 30px;"></div>
                <% end %>
            </ul>
        </div>
        
        <div class="hidden-xs-down col-sm-5 col-md-3">
            <div class="panel-heading">
                <h3 class="panel-title">유저 목록</h3>
            </div>
            
            <div class="scrollable-dropdown-menu">
                <input class="typeahead form-control" type="text" placeholder="검색">
            </div>

	        <div class="panel-body" style="margin-top: 200px;">
    	        <hr/>
                <ul>
                    <h3 class="panel-title" style="color: #2687dc;">Admin</h3>
                    <% @users.each do |user| %>
                        <% if user.has_role? :admin %>
                            <li><%= link_to user.nickname.truncate(15, omission: '...'), conversations_path(user_id: user), remote: true, method: :post %></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var links =
    [
        <% @users.each do |user| %>
            {name: "<%= user.nickname %>"},
        <% end %>
    ];

var source = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: links
});

source.initialize();

$('.scrollable-dropdown-menu .typeahead').typeahead(null, {
  displayKey: 'name',
  limit: 5,
  source: source.ttAdapter(),
  templates: {
    empty: [
      '<div style="margin-top: 15px;" class="empty-message">',
      '해당 계정은 없습니다.',
      '</div>'
    ].join('\n'),
      suggestion: Handlebars.compile('<p style="margin-top: 15px;"><% @users.each do |user| %><%= link_to "#{user.nickname.truncate(12, omission: '...')}<br/>".html_safe, conversations_path(user_id: user), remote: true, method: :post %><% end %></p>')
  }
});
</script>