<div class="row" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
    <% # 글 번호 %>
    <div align="center" class="col-0 col-sm-0 col-md-1 table_separate hidden-sm-down"><%= post.id %></div>
                    
    <%# 닉네임 %>
     <div align="center" class="col-0 col-sm-0 col-md-2 etc table_separate hidden-sm-down">
        <%= render 'posts/special/nickname_post_index', post: post %>
    </div>
    
    <% # 게시글 제목 %>
    <div align="left" class="col-7 col-sm-3 col-md-4 etc table_separate">
    <% if post.deleted? %>
        <%= link_to bulletin_post_path(post.bulletin, post) do %>
            <%= content_tag(:div, post.title, class: "etc", style: "color: #8e68e4") %>
        <% end %>
    <% elsif post.reports.size >= post.num %>
        <% if can? :for_admin, @post %>
            <%= link_to bulletin_post_path(post.bulletin, post) do %>
                <%= content_tag(:div, post.title, class: "etc", style: "color: red") %>
            <% end %>
        <% else %>
            <font color="#6E6E6E"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font>
        <% end %>
    <% else %>
        <%= link_to bulletin_post_path(post.bulletin, post) do %>
            <%= content_tag(:div, post.title, class: "etc") %>
        <% end %>
    <% end %>
    </div>
    
    <% # 댓글 %>
    <div align="center" class="col-2 col-sm-2 col-md-1 table_separate">
      <b><%= post.comment_threads.count %></b>
    </div>
            
    <% # 시간 %>
    <div align="center" class="col-0 col-sm-3 col-md-2 table_separate hidden-xs-down"><%= "#{time_ago_in_words(post.created_at)} 전" %></div>
                    
    <%# 조회수 %>
    <div align="center" class="col-0 col-sm-2 col-md-1 table_separate hidden-xs-down">
        <% if post.unique_impression_count >= 10000 %>
            <%= "#{post.unique_impression_count/10000}만#{post.unique_impression_count%10000}" %>
        <% else %>
            <%= "#{post.unique_impression_count}" %>
        <% end %>
    </div>
    
    <%# 페이 %>
    <div align="center" class="col-3 col-sm-2 col-md-1 table_separate">
        <small>
            <% if post.price_job < 10000 %>
                <%= post.price_job %> 원
            <% else %>
                <%= post.price_job/10000.to_f %> 만원
            <% end %>
        </small>
    </div>
</div>