<div style="margin-left: 15px; margin-top: 5px;">
  <% posts.order("created_at DESC").first(5).each do |post| %>
    <% if post.reports.size >= post.num %>
      <% if can? :for_admin, @post %>
        <%= link_to bulletin_post_path(post.bulletin, post) do %>
          <div class="row">
            <div class="col-1 col-sm-1 col-md-1"><%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "color: red;") %></div>
            <div class="col-11 col-sm-11 col-md-11 hidden-sm-down" style="margin-left: -40px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 35, :omission => "..."), class: "etc", style: "color: red; font-weight: normal !important;") %></div>
            <div class="col-11 col-sm-11 col-md-11 hidden-md-up" style="margin-left: -20px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 22, :omission => "..."), class: "etc", style: "color: red; font-weight: normal !important;") %></div>
          </div>
        <% end %>
      <% else %>
        <font color="#6E6E6E" style="margin-left: 10px;"><i class="fas fa-caret-right"></i> <i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font><br/>
      <% end %>
    <% else %>
      <%= link_to bulletin_post_path(post.bulletin, post) do %>
        <div class="row">
          <div class="col-1 col-sm-1 col-md-1"><%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc") %></div>
          <div class="col-11 col-sm-11 col-md-11 hidden-sm-down" style="margin-left: -40px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 35, :omission => "..."), class: "etc") %></div>
          <div class="col-11 col-sm-11 col-md-11 hidden-md-up" style="margin-left: -20px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 22, :omission => "..."), class: "etc") %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>