<div style="padding: 5px;">
    <% @posts_all.each do |post| %>
      <% if post.bulletin.main_hidden == true %>
        <% if (post.bulletin.main_hidden == true) && (user_signed_in?) && (current_user.has_role? :admin) %>
          <%= link_to bulletin_post_path(post.bulletin, post) do %>
            <div class="row">
              <div class="col-1 col-sm-1 col-md-1"><%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "font-weight: normal !important; margin-left: 10px;") %></div>
              <div class="col-11 col-sm-11 col-md-10" style="margin-left: -5px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 20, :omission => "..."), class: "etc") %></div>
            </div>
          <% end %>
        <% else %>
          <font color="#6E6E6E" style="margin-left: 10px;"><i class="fas fa-caret-right"></i><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 메인 비공개 게시글입니다.</font><br/>
        <% end %>
      <% else %>
        <% if post.reports.size >= post.num %>
          <% if can? :for_admin, @posts %>
            <%= link_to bulletin_post_path(post.bulletin, post) do %>
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1"><%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "color: red; font-weight: normal !important; margin-left: 10px;") %></div>
                <div class="col-11 col-sm-11 col-md-10" style="margin-left: -5px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 15, :omission => "..."), class: "etc", style: "color: red; font-weight: normal !important;") %></div>
              </div>
            <% end %>
          <% else %>
            <font color="#6E6E6E" style="margin-left: 10px;"><i class="fas fa-caret-right"></i> <i class="fas fa-exclamation-triangle" aria-hidden="true"></i> 블라인드 처리 된 게시글입니다.</font><br/>
          <% end %>
        <% else %>
          <%= link_to bulletin_post_path(post.bulletin, post) do %>
            <div class="row">
              <div class="col-1 col-sm-1 col-md-1"><%= content_tag(:span, '<i class="fas fa-caret-right"></i>'.html_safe, class: "etc", style: "font-weight: normal !important; margin-left: 10px;") %></div>
              <div class="col-11 col-sm-11 col-md-10" style="margin-left: -5px;"><%= content_tag(:span, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 20, :omission => "..."), class: "etc") %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>