<body class="home_gray">
  <% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
  <% if alert %>
  <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% elsif notice %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% else %>
    <div style="margin-top: 30px;">&nbsp</div>
  <% end %>
  
  <div class="hidden-sm-down">
    <div align="center">
      <%= render "homes/collect/top_menu" %>
    </div>
    <div class="container" style="width: 1024px;">
      <%= render "homes/index/pc" %>
    </div>
  </div>
  <div class="hidden-md-up">
    <%= render "homes/index/mobile" %>
  </div>
  <div style="margin-top: 100px;"></div>
  
  <div style="background: black; height: 150px; color: white">
    <br/>
    <div class="text-center">
      강원대학교 커뮤니티 ⓒ 2018<br/>
      Team. 멋쟁이 사자처럼 at 강원대학교<br/><br/>
      <small>현재 Beta테스트 진행중인 사이트입니다.</small><br/>
      <small>홈페이지 피드백 <%= link_to "클릭", "https://open.kakao.com/o/svvDAhI", style: "color: yellow" %></small><br/>
    </div>
  </div>
</body>