<body class="home_gray">
  <% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
  <% if alert %>
  <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% elsif notice %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% else %>
    <div style="margin-top: 30px;">&nbsp</div>
  <% end %>
  
  <div class="container" style="margin-top: 30px; width: 1024px;">
    <table border="0" width="100%">
      <tbody>
        <tr>
          <td colspan="3">
            <div class="row" style="margin-left: 0px;">
              <%# 전체 공지사항 %>
              <div class="home_notice" style="width: 320px; height: 165px;">
                <div class="home_index_title table_notice"><%= link_to '<b style="margin-left: 10px; margin-bottom: 5px;"><i class="fas fa-bullhorn"></i> 공지사항</b>'.html_safe, all_notices_path %></div>
                <%= render "homes/notices" %>
              </div>
              <div class="hidden-sm-down" style="margin-left: 15px;"></div>
              
              <%# 전체 posts(커뮤니티) 게시글 목록 %>
              <div class="home_index" style="width: 320px; height: 165px;">
                <div class="home_index_title"><b style="margin-left: 10px; margin-bottom: 5px;"><i class="fa fa-check" aria-hidden="true"></i> 전체 커뮤니티 게시판</b></div>
                <%= render "homes/posts_all" %>
              </div>
              <div class="hidden-sm-down" style="margin-left: 15px;"></div>
              
              <%# QNA 게시판 목록 (render 처리) %>
              <div class="home_index" style="width: 320px; height: 165px;">
                <%= render "homes/qnas" %>
              </div>
            </div>
          </td>      
        </tr>
        <tr>
          <%# 홈페이지 배너 %>
          <td colspan="2" style="width: 68%; padding-top: 10px;">
            <%= link_to(image_tag("/img/main_banner.png", width: "98%"), "https://kangwon.ac.kr", target: "_blank") %>
          </td>
          <%# Side(우측) Section %>
          <td>
            <%# 우측 로그인정보 %>
            <div style="margin-top: 11px;">
              <%= render "homes/collect/login_section" %>
            </div>
          </td>
        </tr>
        <tr>
          <td td colspan="2">
            <%# 답변(좋아요 순) %>
            <div class="home_index notice" style="width: 97%; height: 50px; margin-top: 0px; margin-bottom: 10px;">
              <ul class="rolling">
                <% @hot_qna_replys.each do |qna| %>
                  <li class="row"><%= render "homes/hots/likes_qna_comment", qna: qna %></li>
                <% end %>
              </ul>
            </div>
            
            <div class="row" style="margin-left: 0px; margin-bottom: 0px;">
              <% @bulletins.first(1).each do |bulletin| %>
                <% if not bulletin.main_hidden == true %>
                  <% if (bulletin.id % 3) == 1 %>
                    <div class="home_index" style="width: 320px; height: 165px;">
                  <% else %>
                    <div class="home_index" style="margin-left: 20px; width: 320px; height: 165px;">
                  <% end %>
                    <div class="home_index_title">
                      <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                    </div>
                  <%= render "homes/posts", title: bulletin.title, posts: bulletin.posts %>
                  </div>
                <% end %>
              <% end %>
              
              <%# 익명 게시판 %>
              <div class="home_index" style="margin-left: 10px; width: 280px; height: 165px;">
                <%= render "homes/collect/no_named_list" %>
              </div>
            </div>
          </td>
          <td>
            <%# 오늘의 이슈 %>
            <div class="home_index" style="margin-top: 5px; width: 360px; height: 250px;">
              <div class="home_index_title"><b style="margin-left: 10px; margin-bottom: 5px;">오늘의 이슈</b></div>
              <%= render "homes/hot_pc" %>
            </div>
          </td>
        </tr>    
      </tbody>
    </table>
  </div>
</body>