<body class="home_gray">
  <% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
  <% if alert %>
  <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% elsif notice %>
    <div style="margin-top: 30px;">&nbsp</div>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  <% else %>
    <div style="margin-top: 30px;">&nbsp</div>
  <% end %>
  
  <div class="hidden-sm-down">
    <div align="center" class="">
      <div class="home_index" style="width: 990px; padding: 10px; font-size: 12px;">
        <table border="0" width="90%">
          <tr>
            <td>
              <span><b><%= link_to "공지사항", all_notices_path, style: "color: #4CAF50" %></b></span><br/>
              <span><b>커뮤니티</b></span><br/>
              <span><b>익명</b></span><br/>
              <span><b>먹방투어</b></span><br/>
            </td>
            <td>
              <br/>
              <span><%= link_to "자유", bulletin_posts_path(1) %> | <%= link_to "유머", bulletin_posts_path(2) %> | <%= link_to "동아리", bulletin_posts_path(3) %> | <%= link_to "Foreigner Board", bulletin_posts_path(4) %> | <%= link_to "토론장", bulletin_posts_path(5) %> | <%= link_to "새내기 도움말", bulletin_posts_path(18) %> | <%= link_to "피드백", bulletin_posts_path(19) %></span><br/>
              <span><%= link_to "익명 자유", bulletin_posts_path(6) %> | <%= link_to "연애상담", bulletin_posts_path(7) %> | <%= link_to "고민고백", bulletin_posts_path(8) %></span><br/>
              <span><%= link_to "우리가게 홍보", bulletin_posts_path(9) %> | <%= link_to "가게 방문후기", bulletin_posts_path(10) %></span><br/>
            </td>
            <td>
              <span><b><%= link_to "질문", qnas_path, style: "color: #67b8ff" %></b><br/>
              <span><b>명소가게 탐방</b></span><br/>
              <span><b>구인구직</b></span><br/>
              <span><b>거래</b></span><br/>
            </td>
            <td>
              <br/>
              <span><%= link_to "우리가게 홍보", bulletin_posts_path(9) %> | <%= link_to "가게 방문후기", bulletin_posts_path(10) %></span><br/>
              <span><%= link_to "구인", bulletin_posts_path(11) %> | <%= link_to "구직", bulletin_posts_path(12) %></span><br/>
              <span><%= link_to "거래 복덕방", bulletin_posts_path(13) %> | <%= link_to "방 구해요", bulletin_posts_path(14) %> | <%= link_to "아나바다", bulletin_posts_path(15) %></span><br/>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="container" style="width: 1024px;">
      <%= render "homes/index/pc" %>
    </div>
  </div>
  <div class="hidden-md-up">
    <%= render "homes/index/mobile" %>
  </div>
  <div style="margin-top: 100px;"></div>
  
  <div style="background: black; height: 130px; color: white;">
    <br/>
    <div class="text-center">
      강원대학교 커뮤니티 ⓒ 2018<br/>
      Team. 멋쟁이 사자처럼 at 강원대학교<br/><br/>
      <small>현재 Beta테스트 진행중인 사이트입니다.</small>
    </div>
  </div>
</body>