<div class="board hidden-sm-down" style="background: url('/img/title_img9.jpg') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <div class="container" align="left">
    <span  class="post_title"><%= link_to "공지사항", all_notices_path, class: "board_title" %></span>
  </div>
</div>
<div class="board_mobile hidden-md-up" style="background: url('/img/title_img9.jpg') no-repeat center center/cover scroll;">
  <span class="post_title"><%= link_to "공지사항", all_notices_path, class: "board_title" %></span>
</div>

<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<%# 메타태그 속성(검색엔진 반영 전용) %>
<%= render 'meta/meta_all_notice_show', post: @all_notice %>

<div class="container" style="margin-top:30px; margin-bottom: 100px;">
    <% if @all_notice.title_tag_permission == true %>
        <h4><%= content_tag(:div, @all_notice.title.html_safe ) %></h4>
    <% else %>
        <h4><%= content_tag(:div, truncate( raw( sanitize(@all_notice.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc" ) %></h4><br/>
    <% end %>
    <div class="row">
        <% # [그리드] PC, 모바일 공통에서 볼 경우 : 닉네임 %>
        <div class="col-4 etc">
            <%= render 'posts/special/nickname_all_notice_show' %>
        </div>
        <% # [그리드] Only 모바일 에서 볼 경우 : 글 작성시간 %>
        <div class="col-8" align="right"><span style="margin-right: 10px;"><%= @all_notice.created_at.in_time_zone("Asia/Seoul").strftime('%Y-%m-%d %H:%M') %></span>
        |<i class="fas fa-eye" aria-hidden="true" style="margin-left: 15px;"></i> <%= "#{@all_notice.impressionist_count}" %></div>
    </div>
    <hr/>
      
    <%= content_tag(:div, @all_notice.content.html_safe, :class => "panel-body", :style => "margin-top: 30px; margin-bottom: 70px;") %>
    
    <%# 광고 %>
    <%#= render 'posts/special/ad_show' %>
    
    <div class= "row">
        <div class="col-7 col-md-6" align="left">
            <%= link_to '목록', all_notices_path, class: "btn btn-secondary btn-sm" %>
            <% if can? :update, @all_notice %>
                <%= link_to '수정', edit_all_notice_path(@all_notice), class: "btn btn-secondary btn-sm" %>
            <% end %>
            <% if can? :destroy, @all_notice %>
                <%= link_to "삭제", @all_notice, method: :delete, data: { confirm: '삭제 시 로그에 안남는 채로 삭제됩니다. 정말로 영원히 삭제하시겠습니까?' }, class: "btn btn-secondary btn-sm" %>
            <% end %>
        </div>
        <div class="col-5 col-md-6" align="right">
            <% if can? :new, @all_notice %>
                <%= link_to '글 쓰기', new_all_notice_path, class: "btn btn-primary btn-sm", align: "right" %>
            <% end %>
        </div>
    </div>
    
    <% if @all_notice.comment_permission == true %>
        <% if user_signed_in? %>
            <%= render partial: "all_notices/list/comment_vote_list" %>
        <% else %>
            <div align="center" style="margin-top: 30px;">
        <hr/>
            <i class="fas fa-lock"></i> 댓글을 보시려면 로그인 하셔야 합니다.
        </div>
        <% end %>
    <% else %>
        <div align="center" style="margin-top: 30px;">
        <hr/>
            <i class="fas fa-lock"></i> 댓글이 허용되지 않은 공지사항 입니다.
        </div>
    <% end %>
    
    <div style="margin-top: 60px;"></div>
    
    <%# 다른 게시물들 %>
    <% if @all_notices.empty? %>
        <h2 class="text-center" style="margin-top: 30px;">게시글이 없습니다.</h2>
    <% else %>
        <div style="margin-top: 5px;"></div>
        <%# 전체 공지사항 %>
        <% @all_notices.each do |post| %>
          <% if post.all_notice == true %>
            <div class="row table_notice separate_board">
              <% # 공지 Badge %>
              <div align="center" class="col-0 col-sm-0 col-md-1 hidden-sm-down" style="padding: 10px;">
                <%= content_tag(:span, '<span class="badge badge-success">전체공지</span>'.html_safe, class: "etc", align: "center", style: "margin-top: 5px;") %>
              </div>
              <%= render "all_notices/list/board_all_notice_index", post: post %>
            </div>
          <% end %>
        <% end %>
        
        <%# 일반 게시글 %>
        <% @all_notices.each do |post| %>
            <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
                <% # 글 번호 %>
                <div align="center" class="col-0 col-sm-0 col-md-1 hidden-sm-down" style="padding: 10px;">
                    <%= post.id %>
                </div>
                
                <% # 게시글 제목 %>
                <div align="left" class="col-6 col-sm-5 col-md-7 etc" style="padding: 10px;">
                    <%= link_to post do %>
                        <% if post.title_tag_permission == true %>
                            <%= content_tag(:div, post.title.html_safe, class: "etc") %>
                        <% else %>
                            <%= content_tag(:div, truncate( raw( sanitize(post.title, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 100, :omission => "..."), class: "etc" ) %>
                        <% end %>
                    <% end %>
                </div>
                
                <div class="row col-6 col-sm-7 col-md-4" style="margin-left: 15px;">
                    <% # 댓글 %>
                    <div align="left" class="col-6 col-sm-3 col-md-4 arrow_left separate_board_inside">
                        <i class="far fa-comments"></i>
                        <% if post.comment_permission == true %>
                            <% if post.comment_threads.count < 1000 %>
                                <%= post.comment_threads.count %>
                            <% else %>
                                <small><b><%= post.comment_threads.count/1000 %> K</b></small>
                            <% end %>
                        <% else %>
                            ×
                        <% end %>
                    </div>
                    
                    <% # 조회수 %>
                    <div align="left" class="col-6 col-sm-3 col-md-4 separate_board_inside">
                        <i class="fas fa-eye"></i>
                        <% if post.impressionist_count < 1000 %>
                            <%= "#{post.impressionist_count}" %>
                        <% else %>
                            <b><%= "#{post.impressionist_count/1000} K" %></b>
                        <% end %>
                    </div>
                    
                    <% # 시간 %>
                    <div align="left" class="col-0 col-sm-6 col-md-4 separate_board_inside hidden-xs-down">
                        <small><%= "#{time_ago_in_words(post.created_at)} 전" %></small>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    
    <div class="d-flex flex-column", style="margin-bottom: 10px; margin-top: 30px;">
        <%= paginate @all_notices %>
    </div>
    
    <%= render 'search-form/all_notice_search' %>
</div>