<% if @post.image.present? %>
  <% if @post.reports.size >= @post.num %>
    <div class="board hidden-sm-down" style="background: url('/img/title_img2.jpg') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <% else %>
    <div class="board hidden-sm-down" style="background: url('<%= @post.image %>') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <% end %>
  <div class="container" align="left">
    <span class="post_title"><%= link_to @bulletin.title, bulletin_posts_path(@bulletin.id), class: "board_title" %></span>
  </div>
</div>

<% if @post.reports.size >= @post.num %>
  <div class="board_mobile hidden-md-up" style="background: url('/img/title_img2.jpg') no-repeat center center/cover scroll;">
<% else %>
  <div class="board_mobile hidden-md-up" style="background: url('<%= @post.image %>') no-repeat center center/cover scroll;">
<% end %>
  <span class="post_title"><%= link_to @bulletin.title, bulletin_posts_path(@bulletin.id), class: "board_title" %></span>
</div>
<% else %>
<div class="board hidden-sm-down" style="background: url('/img/title_img2.jpg') no-repeat fixed; background-size: 100% 70%; background-position:0px -180px;">
  <div class="container" align="left">
    <span class="post_title"><%= link_to @bulletin.title, bulletin_posts_path(@bulletin.id), class: "board_title" %></span>
  </div>
</div>
<div class="board_mobile hidden-md-up" style="background: url('/img/title_img2.jpg') no-repeat center center/cover scroll;">
  <span class="post_title"><%= link_to @bulletin.title, bulletin_posts_path(@bulletin.id), class: "board_title" %></span>
</div>
<% end %>

<% #경고메세지 출력 (아이디, 비밀번호 잘못 칠 시 등등...) %>
<% if alert %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #FF4B5C; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <% elsif notice %>
    <div class="alert alert-danger tlert-dismissible fade show text-center" style="padding: 10px; background-color: #43AC6A; color: white; border-radius: 0; margin-bottom: 0; border: 0">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
<% end %>

<div class="container" style="margin-top:30px; margin-bottom: 100px;">
  <%= render 'posts/board/board_show' %>
  
  <%# 다른 게시물들 %>
  <div style="margin-top: 60px;">
  <%# 전체 공지사항 %>
  <% @all_notices.each do |post| %>
    <% if post.all_notice == true %>
      <div class="row table_notice separate_board">
        <% # 공지 Badge %>
        <div align="center" class="col-0 col-sm-0 col-md-1 hidden-sm-down" style="padding: 10px;">
          <%= content_tag(:span, '<span class="badge badge-success">전체공지</span>'.html_safe, class: "etc", align: "center", style: "margin-top: 5px") %>
        </div>
        <% if @bulletin.vote == true %>
          <%= render "all_notices/list/board_all_notice_post_vote_index", post: post %>
        <% else %>
          <%= render "all_notices/list/board_all_notice_post_index", post: post %>
        <% end %>
      </div>
    <% end %>
  <% end %>
    
  <%# 특수 게시물 : 방 정보 게시판 %>
  <% if @bulletin.info_room_trade == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/info_room_trade_show', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/info_room_trade_show', post: post %>
      <% end %>
    <% end %>
  
  <%# 특수 게시물 : 질문답변 게시판 %>
  <% elsif @bulletin.qna == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |qna| %>
        <%= render 'posts/qna/qna_show', qna: qna %>
      <% end %>
    <% else %>
      <% @posts.each do |qna| %>
        <%= render 'posts/qna/qna_show', qna: qna %>
      <% end %>
    <% end %>

  <%# 특수게시물 : 거래 게시판 %>
  <% elsif @bulletin.info_trade == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/info_trade_show', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/info_trade_show', post: post %>
      <% end %>
    <% end %>
    
  <%# 특수게시물 : 가게홍보 게시판 %>
  <% elsif @bulletin.promote_store == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/promote_store_show', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/promote_store_show', post: post %>
      <% end %>
    <% end %>
    
  <%# 특수게시물 : 토론장(투표) 게시판 %>
  <% elsif @bulletin.vote == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/vote_index', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/vote_index', post: post %>
      <% end %>
    <% end %>
    
  <%# 특수권한 게시물 : 사장님 공지사항 게시판 %>
  <% elsif @bulletin.member_boss == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <%= render 'posts/board/normal_index', post: post %>
        </div>
      <% end %>
    <% elsif current_user.has_role? :store_boss %>
      <% @posts.each do |post| %>
        <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <%= render 'posts/board/normal_index', post: post %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
          <div align="center">
              <i class="fas fa-exclamation-triangle" aria-hidden="true" style="color: red"></i> <b style="color: red">권한경고</b> : 허가받지 않은 유저
              <hr/>
              <div align="left">
                  <b><%= current_user.nickname %></b> 님은 해당 게시판 글 열람 권한이 없습니다.
              </div>
          </div>
      </div>
    <% end %>
  
  <%# 특수권한 게시물 : 학교 관계자 공지사항 게시판 %>
  <% elsif @bulletin.member_univ == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <%= render 'posts/board/normal_index', post: post %>
        </div>
      <% end %>
    <% elsif current_user.has_any_role? :univ_professor, :univ_official %>
      <% @posts.each do |post| %>
        <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <%= render 'posts/board/normal_index', post: post %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
          <div align="center">
            <i class="fas fa-exclamation-triangle" aria-hidden="true" style="color: red"></i> <b style="color: red">권한경고</b> : 허가받지 않은 유저
            <hr/>
            <div align="left">
                <b><%= current_user.nickname %></b> 님은 해당 게시판 글 열람 권한이 없습니다.
            </div>
          </div>
      </div>
    <% end %>
  
  <%# 특수게시물 : 익명 게시판 %>
  <% elsif @bulletin.info_no_named == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/no_named_index', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/no_named_index', post: post %>
      <% end %>
    <% end %>
    
  <%# 특수게시물 : 구인(search) %>
  <% elsif @bulletin.search_job == true || @bulletin.seeking_job == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/job_index', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/job_index', post: post %>
      <% end %>
    <% end %>
  
  <%# 특수 게시물 : 방 구해요 %>
  <% elsif @bulletin.seeking_room == true %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <%= render 'posts/board/seeking_room_index', post: post %>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <%= render 'posts/board/seeking_room_index', post: post %>
      <% end %>
    <% end %>
  
  <% else %>
    <%# 일반 게시글 %>
    <% if current_user.has_role? :admin %>
      <% @posts.with_deleted.each do |post| %>
        <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <%= render 'posts/board/normal_index', post: post %>
        </div>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <div class="row separate_board" bgcolor="white" onMouseOver="this.style.backgroundColor='#ECECEC'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
          <%= render 'posts/board/normal_index', post: post %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  
  <div align="right" style="margin-top: 30px;">
    <% if @bulletin.promote_store == true %>
      <% if current_user.has_role? :store_boss %>
        <%= link_to "글 쓰기", new_bulletin_post_path(@bulletin), class: "btn btn-primary" %>
      <% end %>
    <% elsif @bulletin.member_boss == true || @bulletin.member_univ == true || @bulletin.member_real_estate == true %>
      <% if current_user.has_role? :admin %>
        <%= link_to "글 쓰기", new_bulletin_post_path(@bulletin), class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <% if (not current_user.has_any_role? :block_yellow, :block_red) || (current_user.has_role? :admin) %>
        <%= link_to "#{@bulletin.title == "Foreigner Board" ? "Write" : "글 쓰기"}", new_bulletin_post_path(@bulletin), class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  
  <div class="d-flex flex-column" style="margin-bottom: 10px; margin-top: 30px;">
      <%= paginate @posts %>
  </div>
  
  <div style="margin-top: 20px; margin-bottom: 100px;">
    <%= render 'search-form/post_search' %>
  </div>
</div>