<div class="hidden-md-up">
  <%# 전체 공지사항 %>
  <div class="col-12 col-sm-12 home_index" style="height: 165px;">
    <div class="home_index_title table_notice">
      <%= link_to '<b style="margin-left: 10px; margin-bottom: 5px;"><i class="fas fa-bullhorn"></i> 공지사항</b>'.html_safe, all_notices_path %>
    </div>
      <%= render "homes/notices" %>
  </div>
  
  <%# 학교 공지사항 %>
  <div class="col-12 col-sm-12 home_index" style="height: 180px;">
    <%= render "homes/collect/notice&schedule_mobile" %>
  </div>
  
  <%# 질문답변 게시판 %>
  <div class="col-12 col-sm-12 home_index" style="height: 165px;">
    <%= render "homes/qnas" %>
  </div>
  
  <div class="col-12 col-sm-12 home_index"  style="height: 165px;">
  <% @bulletins.each do |bulletin| %>
    <% if bulletin.title == "새내기 도움말" %>
        <div class="home_index_title_helper">
          <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
        </div>
      <%= render "homes/collect/fresh_student", title: bulletin.title, posts: bulletin.posts %>
      </div>
    <% end %>
  <% end %>
  </div>
  
  <%# 경춘천 출발 전철 정보 %>
  <% if (user_signed_in?) && (current_user.transfer == '경춘선') %>
    <%= render "homes/collect/transfer_subway" %>
  <% elsif (user_signed_in?) && (current_user.transfer == '경춘선(급행)') %>
    <%= render "homes/collect/transfer_subway_rapid" %>
  <% elsif (user_signed_in?) && (current_user.transfer == '[학교버스] 강원대↔남춘천역') %>
    <%= render "homes/collect/transfer_bus_from_univ" %>
  <% elsif (not user_signed_in?) %>
    <%= render "homes/collect/transfer_subway" %>
  <% end %>
  
  <%# 자유게시판 %>
  <% @bulletins.each do |bulletin| %>
    <% if bulletin.title == "자유게시판" %>
      <div class="col-12 col-sm-12 home_index" style="height: 165px;">
        <div class="home_index_title">
          <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
        </div>
      <%= render "homes/posts", title: bulletin.title, posts: bulletin.posts %>
      </div>
    <% end %>
  <% end %>
  
  <%# 익명 게시판 %>
  <div class="col-12 col-sm-12 home_index" style="height: 165px;">
    <%= render "homes/collect/mobile_no_named_list" %>
  </div>
  
  <%# 가게 홍보 및 방 정보 게시판 %>
  <div class="col-12 col-sm-12 home_index" style="height: 180px;">
    <%= render "homes/collect/mobile_store&room_trade&trade" %>
  </div>
  
  <%# 오늘의 기숙사 식단 메뉴 %>
  <div class="col-12 col-sm-12 home_index" style="height: 190px;">
    <div class="home_index_title">
      <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> 오늘의 실시간 백반 메뉴</b>
    </div>
    <%= render "homes/collect/mobile_meal" %>
  </div>
</div>