<table border="0" width="100%">
    <tr>
        <td colspan="3">
          <div class="row" style="margin-left: 0px;">
            <%# 전체 공지사항 %>
            <div class="home_index" style="width: 300px; height: 165px;">
              <div class="home_index_title table_notice"><%= link_to '<b style="margin-left: 10px; margin-bottom: 5px;"><i class="fas fa-bullhorn"></i> 공지사항</b>'.html_safe, all_notices_path %></div>
              <%= render "homes/notices" %>
            </div>
            <div class="hidden-sm-down" style="margin-left: 15px;"></div>
            
            <%# 전체 posts(커뮤니티) 게시글 목록 %>
            <div class="home_index" style="width: 295px; height: 165px;">
              <div class="home_index_title"><b style="margin-left: 10px; margin-bottom: 5px;"><i class="fa fa-check" aria-hidden="true"></i> 전체 커뮤니티 게시판</b></div>
              <%= render "homes/posts_all" %>
            </div>
            <div class="hidden-sm-down" style="margin-left: 22px;"></div>
            
            <%# QNA 게시판 목록 (render 처리) %>
            <div class="home_index" style="width: 360px; height: 165px;">
              <%= render "homes/qnas" %>
            </div>
          </div>
        </td>      
    </tr>
    <tr>
        <%# 홈페이지 배너 %>
        <td colspan="2" style="width: 68%; padding-top: 10px;">
          <%= link_to(image_tag("/img/banner_beta.png", width: "97%"), "https://open.kakao.com/o/svvDAhI", target: "_blank") %>
        </td>
        <%# Side(우측) Section %>
        <td>
          <%# 우측 로그인정보 %>
          <div style="margin-top: 11px;">
            <%= render "homes/collect/login_section" %>
          </div>
        </td>
    </tr>
    <tr>
        <td td colspan="2">
          <%# 답변(좋아요 순) %>
          <div class="home_index notice" style="width: 97%; height: 50px; margin-top: 0px; margin-bottom: 0px;">
            <ul class="rolling">
              <% @hot_qna_replys.each do |qna| %>
                <li class="row"><%= render "homes/hots/likes_qna_comment", qna: qna %></li>
              <% end %>
            </ul>
          </div>
          
          <%# 자유게시판 %>
          <div class="row" style="margin-left: 0px; margin-bottom: 0px;">
            <% @bulletins.each do |bulletin| %>
              <% if bulletin.title == "자유게시판" %>
                <% if (bulletin.id % 3) == 1 %>
                  <div class="home_index" style="width: 320px; height: 175px;">
                <% else %>
                  <div class="home_index" style="margin-left: 20px; width: 320px; height: 175px;">
                <% end %>
                  <div class="home_index_title">
                    <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                  </div>
                <%= render "homes/posts", title: bulletin.title, posts: bulletin.posts %>
                </div>
              <% end %>
            <% end %>
            
            <%# 익명 게시판 %>
            <div class="home_index" style="margin-left: 10px; width: 280px; height: 175px;">
              <%= render "homes/collect/no_named_list" %>
            </div>
          </div>
        </td>
        <td rowspan="3">
          <%# 대학교 공지사항 크롤링 %>
          <div class="home_index" style="width: 360px; height: 160px;">
            <div class="home_index_title">
              <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> 강원대학교 실시간 공지사항</b>
            </div>
            <%= render "homes/collect/notice" %>
          </div>
          
          <%# 주간 Hot 이슈 %>
          <div class="home_index" style="margin-top: 20px; width: 360px; height: 230px;">
            <div class="home_index_title_issue"><b style="margin-left: 10px; margin-bottom: 5px;">주간 Hot Issue</b></div>
            <%= render "homes/hot_pc" %>
          </div>
          
          <%# 외국인 게시판 (Foreigner Board) %>
          <% @bulletins.each do |bulletin| %>
            <% if bulletin.title == "Foreigner Board" %>
              <div class="home_index" style="margin-top: 20px; width: 360px; height: 170px; margin-bottom: 0px;">
                <div class="home_index_title">
                  <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                </div>
              <%= render "homes/posts", title: bulletin.title, posts: bulletin.posts %>
              </div>
            <% end %>
          <% end %>
        </td>
    </tr>
    
    <% if Time.now.in_time_zone.month >= 1 && Time.now.in_time_zone.month <= 4 %>
      <tr>
          <td colspan="2">
            <% @bulletins.each do |bulletin| %>
              <% if bulletin.title == "새내기 도움말" %>
                  <div class="home_index" style="width: 610px; height: 175px;">
                  <div class="home_index_title_helper">
                    <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                  </div>
                <%= render "homes/collect/fresh_student", title: bulletin.title, posts: bulletin.posts %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%# 구인구직 %>
            <div class="home_index" style="width: 610px; height: 175px;">
              <%= render "homes/collect/search&seek_job" %>
            </div>
          </td>
        </tr>
    <% else %>
      <tr>
          <td colspan="2">
            <%# 구인구직 %>
            <div class="home_index" style="width: 610px; height: 175px;">
              <%= render "homes/collect/search&seek_job" %>
            </div>
          </td>
      </tr>
      <tr>
        <td colspan="2">
          <% @bulletins.each do |bulletin| %>
            <% if bulletin.title == "새내기 도움말" %>
                <div class="home_index" style="width: 610px; height: 175px;">
                <div class="home_index_title_helper">
                  <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                </div>
              <%= render "homes/collect/fresh_student", title: bulletin.title, posts: bulletin.posts %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <td colspan="3">
        <%# 경춘천 출발 전철 정보 %>
        <% if (user_signed_in?) && (current_user.transfer == '경춘선') %>
          <%= render "homes/collect/transfer_subway" %>
        <% elsif (user_signed_in?) && (current_user.transfer == '경춘선(급행)') %>
          <%= render "homes/collect/transfer_subway_rapid" %>
        <% elsif (user_signed_in?) && (current_user.transfer == 'ITX') %>
          <%= render "homes/collect/transfer_itx" %>
        <% elsif (not user_signed_in?) %>
          <%= render "homes/collect/transfer_subway" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%# 가게 홍보 및 방 정보 게시판 %>
        <div class="row" style="margin-left: 0px; margin-bottom: 0px;">
          <% @bulletins.each do |bulletin| %>
            <% if bulletin.title == "우리가게 홍보" || bulletin.title == "복덕방" %>
              <% if bulletin.id == 9 %>
                <div class="home_index" style="width: 485px; height: 175px;">
              <% else %>
                <div class="home_index" style="margin-left: 20px; width: 485px; height: 175px;">
              <% end %>
                <div class="home_index_title">
                  <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                </div>
              <% if bulletin.title == "우리가게 홍보" %>
                <%= render "homes/collect/homes_store", title: bulletin.title, posts: bulletin.posts %>
              <% elsif bulletin.title == "복덕방" %>
                <%= render "homes/collect/homes_room_trade", title: bulletin.title, posts: bulletin.posts %>
              <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%# 대학 공지사항 및 오늘의 학식 메뉴 %>
        <div class="row" style="margin-left: 0px; margin-bottom: 0px;">
          <%# 오늘의 기숙사 식단 메뉴 %>
          <div class="home_index" style="padding-bottom: 5px; width: 485px; height: 190px;">
            <div class="home_index_title">
              <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> 오늘의 실시간 식단 메뉴</b>
            </div>
            <div class="col-md-12">
              <%= render "homes/collect/meal" %>
            </div>
          </div>
          
          <%# 중고거래 게시판 %>
          <% @bulletins.each do |bulletin| %>
            <% if bulletin.title == "아나바다" %>
              <div class="home_index" style="margin-left: 20px; width: 485px; height: 190px;">
                <div class="home_index_title">
                  <b style="margin-left: 10px;"><i class="" aria-hidden="true"></i> <%= link_to "#{bulletin.title}", bulletin_posts_path(bulletin.id) %></b>
                </div>
                  <%= render "homes/collect/homes_trade", title: bulletin.title, posts: bulletin.posts %>
              </div>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
</table>